<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>myproject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>First</servlet-name>
		<servlet-class>servlet.First</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>First</servlet-name>
		<url-pattern>/First</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Second</servlet-name>
		<servlet-class>servlet.Second</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Second</servlet-name>
		<url-pattern>/Second</url-pattern>
	</servlet-mapping>
</web-app>